/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
    /* border: 1px solid purple; */
    position: fixed;
    top: 6.5rem;
    z-index: 6;
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { 
    display: flex; 
    align-items: end;
  }
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    text-align: center;
  }

  .hitem a {
    text-decoration: none;
  }
  .hwtext {
    /* background-color: chartreuse; */
    text-decoration: none !important;
    color: #000;
    font-weight: 700;
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-500%, 0, 0); }
  }
  .hmove { animation: tickerh linear 120s infinite; height: 40px;}
  .hmove:hover { animation-play-state: paused; }

  @media (max-width: 992px) {
    .hwtext {
      font-size: 9.5px;
      /* color: tomato; */
    }
  }